* {
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: rgb(212, 28, 28);
}


header {
    background: var(--main-bg-color);
}

nav {
    display: flex
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
    padding: 0px 25px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    height: 8vh;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 30px
}

nav ul li a:hover {
    font-weight: bolder;
    cursor: pointer;
    ;
    color: black;
}

nav ul li a {
    color: white;
    text-decoration: none;
    ;
    font-size: 20px;
    font-family: 'Oswald', monospace;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    padding: 0px 10px;
    height: 35px;
    width: 350px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search button {
    cursor: pointer;
    height: 36px;
    width: 40px;

    right: 598px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white;
}

.search button img {
    height: 25px;
}

.containor1 {
    min-height: calc(100vh - 8vh - 10vh);
    position: relative;
}

.sild-wrap {
    height: 50vh;
    width: 80VW;
    box-shadow: 1px 2px 30px 5px var(--main-bg-color);
    margin: 12px auto;
    overflow: hidden;
}

.slider {
    display: grid;
    grid-template-columns: 100% 100% 100%;
    ;
    height: inherit;
    animation: slider 10s ease 1s infinite;
}

/* .resize{height: 374px;;} */
/*  object-fit: contain;object-position: center;} */
#slide1 {
    background: url(http://source.unsplash.com/random?oppo);

}

#slide2 {
    background: url(/img/tamplate/1.png);
}


#slide3 {
    background: url(http://source.unsplash.com/random?laptop,shoping);


}

.button_holder {
    position: absolute;
    bottom: 40%;
    left: 45%;


}

.dots {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    display: inline-block;
    background: gray;
    margin: 5px auto;
}

.containor2 h2 {
    padding-left: 152px;
    position: absolute;
    ;
    bottom: 35%;
}

.card {
    display: flex;
    height: 15vh;
    bottom: 15%;
    position: absolute;

    margin-left: 153px;
}

.card1 {
    background: aqua;
    width: 10vw;
    margin-right: 10vw;
    box-shadow: 1px 2px 30px 5px var(--main-bg-color);
}

.card2 {
    background: rgb(57, 26, 197);
    width: 10vw;
    margin-right: 10vw;
    box-shadow: 1px 2px 30px 5px var(--main-bg-color);
}

.card3 {
    background: rgb(35, 208, 72);
    width: 10vw;
    margin-right: 10vw;
    box-shadow: 1px 2px 30px 5px var(--main-bg-color);
}

.card4 {
    background: rgb(208, 35, 176);
    width: 10vw;
    margin-right: 10vw;
    box-shadow: 1px 2px 30px 5px var(--main-bg-color);
}

footer {
    background: var(--main-bg-color);
    color: white;
    height: 8vh;
}

@keyframes slider {
    0% {
        transform: translateX(0%);
    }

    10% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(-100%);
    }

    30% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-100%);
    }

    90% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(00%);
    }

}